_target_: src.model.HiFiGAN  
generator_config:
  hifi_resblock: "1"
  hifi_upsample_rates: [8, 8, 2, 2]
  hifi_upsample_kernel_sizes: [16, 16, 4, 4]
  hifi_upsample_initial_channel: 128
  hifi_resblock_kernel_sizes: [3, 7, 11]
  hifi_resblock_dilation_sizes: [[1, 3, 5], [1, 3, 5], [1, 3, 5]]
  hifi_input_channels: 128
  hifi_conv_pre_kernel_size: 1

  upsample_block_rates: [2]
  upsample_block_kernel_sizes: [4]

  use_spectralunet: True
  spectralunet_block_widths: [8, 16, 24, 32, 64]
  spectralunet_block_depth: 5
  spectralunet_positional_encoding: True

  use_waveunet: True
  waveunet_block_widths: [10, 20, 40, 80]
  waveunet_block_depth: 4

  use_spectralmasknet: False
  spectralmasknet_block_widths: [8, 12, 24, 32]
  spectralmasknet_block_depth: 4

  norm_type: "weight"
  use_skip_connect: True
  waveunet_before_spectralmasknet: True
  waveunet_input: "both"
mpd_config: 
  periods: [2, 3, 5, 7, 11]
  kernel_size: 5
  stride: 3
  channels: [1, 32, 128, 512, 1024]

msd_config: 
  num_blocks: 3
  kernel_sizes: [15, 41, 41, 41, 41, 41, 5]
  strides: [1, 2, 2, 4, 4, 1, 1]
  groups: [1, 4, 16, 16, 16, 16, 1]
  channels: [1, 128, 128, 256, 512, 1024, 1024, 1024]
